*
!/.github/
!/.github/workflows/
!/.github/workflows/**
!/.gitignore
!/AGENTS.md
!/commitlint.config.js
!/LICENSE
!/package.json
!/pnpm-lock.yaml
!/README.md
!/scripts/
!/scripts/**
!/src/
!/src/**
!/test/
!/test/**
!/tsconfig.json

.DS_Store
*.log
*.tgz
src/.DS_Store
